/* CSS Reset */

* {
	margin: 0;
	padding: 0;
}

/* Desktop */

body {
	background: #ffffff;
	color: #232323;
	font-family: 'Poppins', sans-serif;
}

header {
	margin: 20px 50px;
	padding: 30px;
}

header img {
	height: 50px;
	display: inline-block;
}

section {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
}

section img {
	display: block;
	width: 792px;
	height: 446px;
	margin: 0 auto;
}

h1 {
	font-family: 'Unbounded', sans-serif;
	font-weight: 700;
	font-size: 64px;
	margin-top: 60px;
}

span {
	color: #9747FF;
}

p {
	font-weight: 400;
	font-size: 32px;
	margin: 24px auto 0;
	width: 792px;
}

a {
	display: inline-block;
	font-weight: 700;
	font-size: 24px;
	text-decoration: none;
	color: #fff;
	background-color: #9747FF;
	width: 340px;
	height: 66px;
	line-height: 66px;
	border-radius: 36px;
	margin: 40px auto;
}

a:hover {
	background-color: #8233E8;
}

/*Tablet*/
@media(max-width: 768px){
	header img{
		margin: 65px 0 0 60px
	}
	p {
		width: 648px;
	}

}

/*Celular*/
@media(max-width: 375px){
	
	header {
		margin: 0
	}
	
	header img{
		height: 32px;
		margin: 0 0 0 0
	}

	h1 {
		margin-top: 30px;
		font-size: 40px;
	}

	p {
		font-size: 20px;
		width: 340px;
	}

	section img {
		width: 340px;
		height: 230px;
	}
}